// Fonts
$font-body: "Avenir", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-header: "Museo Sans", $font-body;

// Colors
$color-brand-blue: #004D7D;
$color-brand-light-blue: #348899;
$color-brand-red: #7F4A43;
$color-body: #222;
