// Fonts
$font-body: "Avenir", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-header: "Museo Sans", $font-body;

// Colors
$color-brand-blue: #006aab;
